.top-container {
  height: 10%;
  width: 100%;
  background-color: blue;
  color: white;
  padding: 5px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
}

.bottom-container {
  display: flex;
  flex: 1;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
}


.calendar-container {
  flex: 3;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.right-container {
  flex: 1;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 0px 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  text-align: center;
  overflow-y: auto;
  height: calc(100vh - 120px);
}

.item-box {
  background: white;
  padding: 10px 10px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: left;
  font-size: 16px;
  border: 1px solid #ddd;
  height: 50px;
  width: 100%;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 5px;
}

.weekday {
  font-weight: bold;
  color: #555;
  padding: 10px 0;
  border-bottom: 2px solid #ddd;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.day {
  min-height: 60px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: left;
  padding: 5px 5px;
  align-items: left;
  cursor: pointer;
  transition: background 0.2s;
  font-size: 16px;
  background-color: white;
  border-radius: 5px;
}

.day:hover {
  background-color: #e6f7ff;
}

.day.selected {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.day.empty {
  border: none;
  background-color: transparent;
  cursor: default;
}

.chores {
  text-align: center;
  width: 33.33%;
}

.bills {
  text-align: center;
  width: 33.33%;
}

.top-link {
  text-align: center;
  width: 33.33%;
}
