.form-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: bold;
}

form input,
form textarea {
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form button[type="submit"] {
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
}

form button[type="submit"]:hover {
  background-color: #1e7e34;
}
